#top-menu{box-shadow: 2px 2px 3px;}

#eco-byisk{
    background-image: url('https://mota.ru/upload/wallpapers/source/2012/09/22/18/01/32634/GTLKbu8wo9.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}